{% extends 'base.html.twig' %}

{% block body %}

        {% if app.user %}
        <p>Lista produktów wystawiona przez: {{ app.user }} </p>
            {% for product in products %}

                <p>Nazwa: {{ product.name }}, Cena: {{ product.price }}</p>

            {% endfor %}
        {% else %}
            <p><a href="{{ path('fos_user_security_login') }}">Zaloguj się</a>, aby zobaczyć wystawione przez siebie produkty</p>
        {% endif %}
        <a href="{{ path('szymon_homepage') }}">Wróć</a>
{% endblock %}