{% extends 'base.html.twig' %}

{% block body %}

        {% if app.user %}
        <p>Lista produktów wystawiona przez: {{ app.user }} </p>
            {% if products %}
            {% for product in products %}
                <a href="{{ path('sql_in', {'id': product.id}) }}"><p>{{ product.name }}</p></a>
            {% endfor %}
            {% else %}
                <p>Nic nie wystawiono!</p>
            {% endif %}
        {% else %}
            <p><a href="{{ path('fos_user_security_login') }}">Zaloguj się</a>, aby zobaczyć wystawione przez siebie produkty</p>
        {% endif %}
        <a href="{{ path('szymon_homepage') }}">Wróć</a>
{% endblock %}